/dotfiles/btop/btop.log
/dotfiles/DankMaterialShell/.changelog-1.4
/dotfiles/DankMaterialShell/firefox.css
/dotfiles/DankMaterialShell/.firstlaunch
/dotfiles/DankMaterialShell/plugin_settings.json
/dotfiles/ghostty/config-dankcolors
/dotfiles/ghostty/themes/dankcolors
/dotfiles/hypr/dms
/dotfiles/hypr/hypridle.conf
/dotfiles/hypr/hyprland.conf
/dotfiles/hypr/hyprland.lua
/dotfiles/hypr/hyprpaper.conf
/dotfiles/hypr/machine_specific.conf
result
