window {
    font-family: monospace;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(15, 15, 15, 0.3);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: 3px solid #BDC3AF;
    background-color: #F3EAD3;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #5C6A72;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover,
button:active,
button:focus {
    border: 3px solid #5C6A72;
}

button:hover {
    background-color: #D8D3BA;
}

button:focus {
    background-color: rgb(147, 178, 89);
    color: #ffffff;
}

#lock {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/lock.png"));
}

#logout {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/logout.png"));
}

#suspend {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/sleep.png"));
}

#shutdown {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/power.png"));
}

#reboot {
    margin: 10px;
    border-radius: 20px;
    background-image: image(url("icons/restart.png"));
}
