[[language]]
name = "nix"
auto-format = true
formatter = { command = "nix", args = ["fmt"] }

[[language]]
name = "cpp"
auto-format = true

[[language]]
name = "c"
auto-format = true

[[language]]
name = "python"
formatter = { command = "ruff", args = ["format", "-"] }
auto-format = true
