* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code", monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #a6adc8;
    margin-right: 5px;
}

#workspaces button.active {
    color: #fab387;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-gpu,
#custom-vram,
#custom-weather,
#custom-notification,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#idle_inhibitor,
#tray,
#backlight,
#cpu,
#temperature,
#language,
#memory {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 4px;
    border: 1px solid #181825;
    border-radius: 10px;
}

#tray {
    border-radius: 10px;
    border: 1px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
    border: 1px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px;
    border-right: 0px;
    border: 1px;
}

#pulseaudio,
#network {
    color: #f9e2af;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#memory {
    color: #f9e2af;
}

#cpu,
#temperature {
    color: #89b4fa;
}

#custom-gpu {
    color: #76b900;
}
